.productContainer {
    padding: 20px;
}

.productTop {
    padding: 50px;
    display: flex;
    background-color: rgba(230, 132, 41, 0.05);
}

.productLeft {
    flex: 4;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.productLeftImg {
    width: 80%;
    object-fit: cover;
}

.productRight {
    flex: 5;
    padding: 5px 20px;
    
    border-radius: 20px;
}


.productRightName {
    font-weight: bold;
    margin-bottom: 30px;
}

.productRightBottomContainer {
    background-color: rgba(230, 132, 41, 0.4);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    border-radius: 20px;
}
.productRightBottom {
    margin-left: 20px;
}

.productRightButton {
    padding:20px;
    border:none;
    background:lighten(#292d48,65);
    position:relative;
    outline:none;
    border-radius:5px;
    color:#292d48;
    font-size:18px;
    cursor: pointer;
    .cart-item {
        position:absolute;
        height:24px;
        width:24px;
        top:-10px;
        right:-10px;
        &:before {
          content:'1';
          display:block;
          line-height:24px;
          height:24px;
          width:24px;
          font-size:12px;
          font-weight:600;
          background:#2bd156;
          color:white;
          border-radius:20px;
          text-align:center;
            }
        }
    &.sendtocart {
        .cart-item {
            display:block;
            animation: xAxis 0.25s forwards cubic-bezier(1.000,1,1,1);
            &:before {
            animation: yAxis 0.25s alternate forwards cubic-bezier(1, 1, 1, 1.000);
            }
        }
    }
}

@keyframes xAxis {
    100% {
      transform: translateX(300px);
    }
  }
  
@keyframes yAxis {
100% {
    transform: translateY(-400px);
}
}

.productRightButton:hover {
    background-color: rgb(231, 231, 231);
}

.productRightPrice {
    padding-bottom: 20px;
}

.productRightDesc {
    margin-top: 10px;
    font-size: 20px;
}